.addUser {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
}
.addUser label {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    margin: 0.5em 0;
}
.addUser label .label-text {
    min-width: 4em;
    font-size: large;
}
.addUser label input {
    flex: 1 1 auto;
    max-width: 18em;
    min-width: 5em;
    font-size: large;
}


/**********************************************
    Output section
 ***********************************************/

#output table {
    
}