$defaultGap: 25px;
.form {
    font-size: $defaultFontSize;
    .form-row {
        display: flex;
        .form-label {
            flex: 0 0 5em;
            margin: $defaultGap;
            padding: 0.5em;
            vertical-align: middle;
            text-align: right;
        }
        .form-input-container {
            display: flex;
            flex-wrap: wrap;
            .form-input {
                background-color: #f7f7f7;
                padding: 0.5em;
                margin: $defaultGap;
                text-transform: uppercase;
                font-size: $defaultFontSize;
                border-radius: 10px;
                vertical-align: middle;
                ::placeholder{
                    color: #B2B2B2;
                }
            }
        }
        button {
            margin: $defaultGap $defaultGap/2;
            background-color: #e5e5e5;
        }
    }
}