$defaultGap: 24px;
$defaultPadding: 15px;
.form {
    font-size: $defaultFontSize;
    .form-row {
        display: flex;
        max-width: 43em;
        margin: auto;
        // outline: 1px solid blue;
        .form-label {
            flex: 0 0 5em;
            margin: $defaultGap $pageLeftMargin;
            padding: $defaultPadding;
            vertical-align: middle;
            text-align: right;
            color: #4C4C4C;
            text-transform: uppercase;
        }
        .form-input-container {
            display: flex;
            flex-wrap: wrap;
        
            .form--input-partition {
                display: flex;
                flex-wrap: wrap;
            }
            .form-input {
                flex: 1 1 auto;
                background-color: #f7f7f7;
                padding: $defaultPadding;
                margin: $defaultGap;
                text-transform: uppercase;
                font-size: $defaultFontSize;
                border-radius: 10px;
                vertical-align: middle;
                min-width: 0;
                max-width: 300px;
                ::placeholder{
                    color: #B2B2B2;
                }
            }
        }
        button {
            margin: $defaultGap $pageLeftMargin;
            background-color: #e5e5e5;
        }
    }
    .bottom-button-row {
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
    }
    @media (max-width: 460px) {
        .form-row {
            flex-direction: column;
            margin: $defaultGap 0;
            .form-label {
                flex: 0 0 auto;
                margin: $defaultGap/2 $pageLeftMargin;
                text-align: left;
                padding: 0;
                font-size: $defaultFontSize*4/3;
            }
            .form-input-container {
                .form--input-partition {
                    width: 100%;
                }
                .form-input {
                    flex: 1 1 auto;
                    padding: $defaultPadding;
                    margin: $defaultGap/2 $pageLeftMargin;
                    max-width: 100%;
                }
            }
            button {
                margin: $defaultGap $pageLeftMargin;
            }
        }
        .bottom-button-row {
            flex-direction: row;
        }
    }
}