$buttonFontSize: 24px;
$buttonSpace: 30px;
.icon-button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    padding: $buttonSpace 0;
    .icon {
        margin: 0 $buttonSpace/2 0 $buttonSpace;
        // outline: 1px solid blue;
    }
    .text {
        margin: 0 $buttonSpace 0 $buttonSpace/2;
        font-size: $buttonFontSize;
        // outline: 1px solid blue;
    }
    @media (max-width: 460px) {
        $buttonSpace: $buttonSpace/2;
        
        border-radius: 10px;
        border: none;
        padding: $buttonSpace 0;
        .icon {
            margin: 0 $buttonSpace/2 0 $buttonSpace;
            // outline: 1px solid blue;
        }
        .text {
            margin: 0 $buttonSpace 0 $buttonSpace/2;
            font-size: $buttonFontSize;
            // outline: 1px solid blue;
        }
    }
}